default:
    suites:
        default:
            paths:
                - '%paths.base%/src/bridge/Resources/features'
                - '%paths.base%/src/phpspec/Resources/features'
            contexts:
                - Doyo\Bridge\CodeCoverage\Context\ContainerContext
                - Doyo\Bridge\CodeCoverage\Context\CoverageContext
                - Doyo\PhpSpec\CodeCoverage\Context\ApplicationContext
                - Doyo\PhpSpec\CodeCoverage\Context\FilesystemContext

    extensions:
        Doyo\Behat\CodeCoverage\Extension:
            imports:
                - coverage.yaml
            reports:
                html: build/behat
                php: build/cov/behat.cov
