default:
    suites:
        default:
            paths:
                - '%paths.base%/src/code-coverage/Resources/features'
            contexts:
                - Doyo\Bridge\CodeCoverage\Context\ContainerContext
