formatter.name: dot
suites:
    doyo_coverage:
        namespace: Doyo\Bridge\CodeCoverage
        psr4_prefix: Doyo\Bridge\CodeCoverage

extensions:
    Doyo\PhpSpec\CodeCoverage\Extension:
        filters:
            whitelist:
                - src
            blacklist:
                - src/Context
        reports:
            php: build/cov/phpspec.cov
            html: build/phpspec
