formatter.name: dot
suites:
    code_coverage:
        namespace: Doyo\Bridge\CodeCoverage
        psr4_prefix: Doyo\Bridge\CodeCoverage
        spec_prefix: Spec
        src_path: src/bridge
        spec_path: src/bridge

    behat_extension:
        namespace: Doyo\Behat\CodeCoverage
        psr4_prefix: Doyo\Behat\CodeCoverage
        spec_prefix: Spec
        src_path: src/behat
        spec_path: src/behat

    phpspec_extension:
        namespace: Doyo\PhpSpec\CodeCoverage
        psr4_prefix: Doyo\PhpSpec\CodeCoverage
        spec_prefix: Spec
        src_path: src/phpspec
        spec_path: src/phpspec

extensions:
    Doyo\PhpSpec\CodeCoverage\Extension:
        filter:
            - directory: src
              exclude:
                - src/*/Resources
                - src/*/Context
                - src/*/Spec
                - src/*/vendor
                - src/*/build
                - file: src/bridge/RoboFile.php
                - file: src/phpspec/RoboFile.php
                - file: src/behat/RoboFile.php
        reports:
            php: build/cov/01-phpspec.cov
            html: build/phpspec
