formatter.name: dot
suites:
    code_coverage:
        namespace: Doyo\PhpSpec\CodeCoverage
        psr4_prefix: Doyo\PhpSpec\CodeCoverage
        spec_prefix: Spec
        src_path: ""

extensions:
    Doyo\PhpSpec\CodeCoverage\Extension:
        filter:
            - directory: ""
              exclude:
                  - Spec
                  - Resources
                  - Context
                  - vendor
                  - build
                  - file: RoboFile.php
        reports:
            php: build/cov/01-phpspec.cov
            html: build/phpspec
