default:
    suites:
        default:
            paths:
                - Resources/features
            contexts:
                - Doyo\Bridge\CodeCoverage\Context\ContainerContext
    extensions:
        Doyo\Behat\CodeCoverage\Extension:
            imports:
                - Resources/coverage.yaml
            reports:
                php: build/cov/behat.cov
                html: build/cov/html
