default:
    suites:
        default:
            paths:
                - Resources/features
            contexts:
                - Doyo\Bridge\CodeCoverage\Context\ContainerContext
                - Doyo\Bridge\CodeCoverage\Context\CoverageContext
                - Doyo\Bridge\CodeCoverage\Context\ConsoleContext
                - Doyo\Bridge\CodeCoverage\Context\BehatContext:
                      cwd: Resources/fixtures

    extensions:
        Doyo\Behat\CodeCoverage\Extension:
            sessions:
                console: ~
            imports:
                - Resources/coverage.yaml
            reports:
                php: build/cov/behat.cov
                html: build/cov/html
